html {
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
}
/* Genel Kapsayıcı ve Başlık */
.yarismalar-container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}

.page-title {
    font-size: 2.1em;
    color: #555; 
    border-bottom: 3px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.intro-text {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
}

/* (TEKNOFEST | TÜBİTAK | STARTUP) */

.category-nav {
    display: flex; /* Butonları yan yana sırala */
    gap: 15px; /* Butonlar arasına boşluk koy */
    margin-bottom: 40px;
    padding: 15px;
    justify-content: center;
    background-color: #eaf1f9; /* Hafif gri arka plan */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #240a61; 
    
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition:  0.3s ease;
    text-transform: uppercase;
}

.nav-button:hover {
    background-color: #2a74c2; 
}

/* BÖLÜMLERİN STİLİ */

.competition-section {
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-top: 0px; 
    padding-top: 0px;
    scroll-margin-top: 140px;
}

.competition-section h2 {
    font-size: 2em;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
      margin-top:0 !important;
 
}
.yarismalar-header {
    /* Başlık ve kategori butonlarının bulunduğu ana bölümün kendisi için scroll marjini sıfırlama */
    scroll-margin-top: 0 !important;
    padding-top: 0 !important;
    text-align: center;
    color: black;
}

#teknofest-yarismalari {
    scroll-margin-top: 10px !important; 
    margin-top: 0 !important;
}
.section-description {
    font-style: italic;
    color: #666;
    margin-bottom: 30px;
}


/* YARIŞMA KARTLARI  */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card-grid-startup{
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 25px;
    display: grid;
}

.competition-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.competition-card:hover {
    transform: translateY(-5px); /* Hafif yukarı kayma efekti */
}

.competition-card h3 {
    color: #240a61;
    margin-top: 0;
}

.details {
    font-size: 17px;
    color: #240a61;
}

.btn-detail, .btn-notify {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-detail {
    background-color: #640e0e; 
    color: white;
}

.btn-detail:hover {
    background-color: #bb3131;
}