<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-center">

      <!-- Logo alanı -->
      <a class="navbar-brand d-flex align-items-center logo-link" href="#"></a>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="">AnaSayfa</a>
          <a class="nav-link" href="#">Hakkımızda</a>
          <a class="nav-link" routerLink="/Proje">Projeler</a>
          <a class="nav-link" href="#">Hedefler</a>
          <a class="nav-link" href="#">Yarışmalar</a>
          <a class="nav-link" routerLink="/Basvuru">Başvuru</a>
          <a class="nav-link" href="#">Sponsorlar</a>
          <a class="nav-link" href="#">Öneri/Şikayet</a>
          <a class="nav-link" href="#">İletişim</a>
        </div>
      </div>

    </div>
  </nav>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-section">
      <h3>İletişim</h3>
      <p>Örnek Mahallesi, Bilim ve Teknoloji Cd. No:123, Gaziantep</p>
      <p>+90 555 123 45 67</p>
      <p>info@arttech.com</p>
    </div>

    <div class="footer-section">
      <h3>Çalışma Saatleri</h3>
      <p>Pazartesi - Cuma: 09:00 - 18:00</p>
    </div>

    <div class="footer-section">
      <h3>Sosyal Medya</h3>
      <div class="social-icons">
        <a href="#"><img src="assets/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="assets/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="assets/linkedin.svg" alt="LinkedIn"></a>
        <a href="#"><img src="assets/instagram.svg" alt="Instagram"></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 ArtTech. Tüm hakları saklıdır.</p>
  </div>
</footer>
