<<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" [class.scrolled]="isNavbarScrolled()">
    <div class="container-fluid">


      <!-- Logo alanı -->
      <a class="navbar-brand d-flex align-items-center logo-link" href="#"></a>

      <!-- Mobil Menü Butonu -->
      <button class="navbar-toggler" type="button" (click)="onMenuClick()">
        ☰
      </button>

      <!-- Masaüstü Menü -->
      <div class="collapse navbar-collapse desktop-menu" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-link active" aria-current="page" routerLink="/homepage">AnaSayfa</a>
          <a class="nav-link" routerLink="/hakkimizda">Hakkımızda</a>
          <a class="nav-link" routerLink="/Proje">Projeler</a>
          <a class="nav-link" routerLink="/hedefler">Hedefler</a>
          <a class="nav-link" routerLink="/yarismalar">Yarışmalar</a> <!--  bu kısmı düzenledim  -->
          <a class="nav-link" routerLink="/Basvuru">Başvuru</a>
          <a class="nav-link" href="#">Sponsorlar</a>
          <a class="nav-link" [routerLink]="['/Basvuru']" fragment="onerivesikayet">Öneri/Şikayet</a>
          <a class="nav-link" routerLink="/iletisim">İletişim</a>

        </div>
      </div>

      <!-- Mobil Menü -->
      <div *ngIf="isMobileMenuActive()" class="mobile-menu">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/" (click)="onMenuLinkClick()">AnaSayfa</a>
          <a class="nav-link" href="#" (click)="onMenuLinkClick()">Hakkımızda</a>
          <a class="nav-link" routerLink="/Proje" (click)="onMenuLinkClick()">Projeler</a>
          <a class="nav-link" href="#" (click)="onMenuLinkClick()">Hedefler</a>
          <a class="nav-link" href="#" (click)="onMenuLinkClick()">Yarışmalar</a>
          <a class="nav-link" routerLink="/Basvuru" (click)="onMenuLinkClick()">Başvuru</a>
          <a class="nav-link" href="#" (click)="onMenuLinkClick()">Sponsorlar</a>
          <a class="nav-link" [routerLink]="['/Basvuru']" fragment="onerivesikayet" (click)="onMenuLinkClick()">Öneri / Şikayet</a>
          <a class="nav-link" routerLink="/iletisim" (click)="onMenuLinkClick()">İletişim</a>
        </div>
      </div>

    </div>
  </nav>
  </header>


  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer class="site-footer"  id="iletisim">
    <div class="footer-container">

      <div class="footer-section">
        <h5>İletişim</h5>
        <a href="tel:+905551112233" class="phone-link">
    <i class="fa fa-phone fa-beat"></i>
  </a>
      </div>
  <div class=" footer-section social">
      <h5>Bizi Takip edin</h5>
      <div class="social-icons">
        <a href="https://www.instagram.com/arttechofficial?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
            class="fa-brands fa-instagram fa-beat"></i></a>
        <a
          href="https://www.linkedin.com/company/arttech-startup-giri%C5%9Fim/about/"><i
            class="fa-brands fa-square-linkedin fa-beat"></i></a>
        <a href="https://chat.whatsapp.com/G5rLGXwetyUJbWuJu2CVzH?mode=ems_copy_c"><i class="fa-brands fa-whatsapp fa-beat"></i></a>

      </div>
    </div>
  
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 ArtTech. Tüm hakları saklıdır.</p>
      <p>Web geliştirme: <a href="https://www.linkedin.com/in/ahmed-adnan-5a6719301/">AHMET ADNAN</a>& <a href="HİLAL BİRİNCİ">HİLAL BİRİNCİ</a>& <a href="https://www.linkedin.com/in/fatma-y%C4%B1ld%C4%B1r%C4%B1m-041570353/">FATMA YILDIRIM</a>& <a href="https://www.linkedin.com/in/belinay-kaymaz-56057129b/">BELİNAY KAYMAZ</a></p>
    </div>
  </footer>

  